body {
  background: #fff;
  font: 16px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

#audio-player {
  padding: 5px;
  padding-left: 5px;
  padding-bottom: 2em;
}
#current {
  color: #333;
}
#time {
  color: #333;
}
.dateSeparator {
  margin-top: 15px;
  font-size: 85%;
  color: #999;
}
.playlistItem {
  margin: 5px 0;
  padding: 5px 0 10px 10px;
}

.currentPlaylistItem {
  font-weight: bold;
  border-left: 2px solid red;
  padding-left: 8px;
  /* Old browsers */

}

#playpause {
  width: 60px;
}
#sleep-mode-container {
  padding-left: 30px;
  font-size: 10px;
  color: #777;
  padding-bottom: 30px;
}
footer {
  background-color: white;
  font-size: 70%;
  width: 100%;
  color: #777;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  padding-top: 2em;
}
footer h1 {

  display: inline;
  margin: 0;
  padding: 5px;
  line-height: 14px;
}
